.disc-wrapper{
  display: flex;
  padding-top: 100px;
  background-color: $blue;
  .disc-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(240px * 4);
    margin: auto;
    list-style: none;
    & .disc{
      width: 200px;
      height: 350px;
      margin: 20px;
      padding: 15px;
      text-align: center;
      background-color: $grey;
      & img{
        width: 170px;
      }
      & h4{
        margin: 15px 0;
        color: #fff;
      }
      & p{
        color: $greylight;
      }
    }
  }
}
